<footer>
  <div class="footer-content">
    <span class="ktvs">ktvs</span>
    <div class="socials">
      <a
        class="social telegram"
        href="https://t.me/kotivase"
        target="_blank"
        rel="noopener noreferrer"
      >
        Telegram
      </a>

      <a
        class="social x"
        href="https://x.com/nekotivas"
        target="_blank"
        rel="noopener noreferrer"
      >
        X
      </a>

      <a
        class="social github"
        href="https://github.com/kotivas"
        target="_blank"
        rel="noopener noreferrer"
      >
        Github
      </a>
    </div>
  </div>
  <div class="footer-content footer-bottom">
    <span>© 2026 · All rights reserved.</span>
    <!-- <span>Born in Saratov · Available worldwide</span> -->
    <span>Designed & built by kotivas</span>
  </div>
</footer>

<style>
  .ktvs {
    letter-spacing: 0.2em;
  }

  footer {
    position: relative;
    z-index: 2;
    border-top: 1px solid rgba(255, 255, 255, 0.06);
    background-color: var(--color-surface);
    color: var(--color-muted);
    font-size: 14px;
    display: flex;
    gap: 1rem;
    padding: 1rem 4rem;
    font-weight: 300;
    flex-direction: column;
  }

  .footer-content {
    justify-content: space-between;
    display: flex;
    padding-top: 1rem;
  }

  .footer-bottom {
    border-top: 1px solid #80808033;
  }

  .socials {
    display: flex;
    gap: 1rem;
  }

  .social {
    color: var(--color-muted);
    text-decoration: none;
    transition: color 0.2s ease;
  }

  .social:hover {
    color: var(--color-primary);
  }
</style>
